div.info-footer-wrapper {
  background-color: $black;
  color: $white;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  h3 {
    text-transform: uppercase;
    color: white;
  }
  .sqs-block-button-element {
    transition: all 0.5s ease;
    border-width: 0 !important;
    color: $eggplant !important;
    background-color: $lightgreen !important;
    &:hover,
    &:focus {
        background-color: $limegreen !important;
    }
  }
  form {
    background: #1a1a1a !important;
    color: $white !important;
    @extend %clearfix;
    padding: 16px;
    padding: 1rem;
    input {
      color: $limegreen !important;
      padding: 16px;
      &.button {
        transition: all 0.5s ease;
        border-width: 0 !important;
        color: $eggplant !important;
        background-color: $lightgreen !important;
        &:hover,
        &:focus {
            background-color: $limegreen !important;
        }
      }
    }
    label {
      display: none !important;
    }
    .field-element {
      width: 300px !important;
    }
    .field-list {
      float: left;
    }
    .field-list > div.form-item {
      float: left;
      width: 50%;
    }
    textarea {
      margin-left: 8px !important;
    }
  }
}
