form {
	background-color: $eggplant !important;
	color: $white !important;
  @extend %clearfix;
  padding: 16px;
  padding: 1rem;
	input {
		color: $limegreen !important;
		padding: 16px;
		&.button {
			@extend .sqs-block-button-element;
		}
	}
	.field-list > div.form-item {
		float: left;
		width: 50%;
	}
}
