@import '../../node_modules/sassdash/index';
@import '../../node_modules/sass-svg/index';

/*.col.sqs-col-12.span-12 {
    .sqs-block.html-block.sqs-block-html:first-child {
        .sqs-block-content {
            padding: 30px;
        }
        h2 {
            color: $eggplant;
        }
    }
}
*/
/*.sqs-block-content {
    h1 {
        position: relative;
        text-indent: 72px;
        &:after {
            content: "";
            background-position: bottom;
            height: 50px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 50px;
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2…%2E6%2C%2042%2E2%2C%2016%2E6%2C%2034%2E6%2C%2019%2E3z%22%2F%3E%3C%2Fsvg%3E);
        }
    }
}
*/
/*.canvas-style-masthead-logo-left.header-subtitle-none #header #topNav li ,*/

/*.canvas-style-masthead-logo-right.header-subtitle-none #header #topNav li {*/

/*padding-top: 60px !important;*/

