.col.sqs-col-12.span-12 .sqs-block.html-block.sqs-block-html:first-child .sqs-block-content {
padding: 30px; }
.col.sqs-col-12.span-12 .sqs-block.html-block.sqs-block-html:first-child .sqs-block-content h2 {
color: $eggplant; }

.canvas-style-masthead-logo-left.header-subtitle-none #header #topNav li ,
.canvas-style-masthead-logo-right.header-subtitle-none #header #topNav li {
  padding-top: 60px !important;
}

#header {
  background: $white !important;
  padding: 0px;

  img {
    background-color: $eggplant;
    padding: 30px !important;
    /*margin: 0px;*/
  }
}
