/*Links should be eggplant, and have lines under them on hover*/
a,
a:link {
  border-bottom: solid 1px $eggplant;
  text-decoration: none;
  transition: all .5s ease;
  &:hover {
    border-bottom-color: $eggplant;
    color: $lightgreen;
  }
}
