body #topNav ul li a {
  color: $darkgrey;
  background-color: $white !important;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: bold;
}

body #topNav ul > li.active-link > a,
body #categoryNav ul > li.active-link > a {
  /* sorry. - Colin */
  color: $limegreen !important;
}

body #topNav nav {
  /*WIP */
  margin-right: 15px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
