/*Header row -- bottom border of eggplant*/
header {
  border-bottom: 2px solid $eggplant;
}

/*Nav links should have a 15px padding*/
#topNav {
  padding-right: 15px;
}

/*Nav links are bold*/
#topNav ul li a {
  font-weight: bold;
}
