@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  box-sizing: border-box; }

#canvas {
  padding: 0;
  margin: 0;
  max-width: none; }

#page {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

p {
  hyphens: none; }

q,
blockquote {
  color: #694489;
  font-family: 'Lora', serif;
  font-style: italic; }

/*a,
a:link {
  border-bottom: solid 1px $limegreen;
  text-decoration: none;
  transition: all .5s ease;
  &:hover {
    border-bottom-color: $lightgreen;
    color: $lightgreen;
  }
}
*/
/*.sqs-block-button-element {
    transition: all 0.5s ease;
    border-width: 0 !important;
    color: $eggplant !important;
    background-color: $lightgreen !important;
    &:hover,
    &:focus {
        background-color: $limegreen !important;
    }
}
*/
/*.col.sqs-col-12.span-12 {
    .sqs-block.html-block.sqs-block-html:first-child {
        .sqs-block-content {
            padding: 30px;
        }
        h2 {
            color: $eggplant;
        }
    }
}
*/
/*.sqs-block-content {
    h1 {
        position: relative;
        text-indent: 72px;
        &:after {
            content: "";
            background-position: bottom;
            height: 50px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 50px;
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2…%2E6%2C%2042%2E2%2C%2016%2E6%2C%2034%2E6%2C%2019%2E3z%22%2F%3E%3C%2Fsvg%3E);
        }
    }
}
*/
/*.canvas-style-masthead-logo-left.header-subtitle-none #header #topNav li ,*/
/*.canvas-style-masthead-logo-right.header-subtitle-none #header #topNav li {*/
/*padding-top: 60px !important;*/
/*Active link eggplant, other links lavendar*/
body #topNav ul > li.active-link > a,
body #categoryNav ul > li.active-link > a {
  color: #694489 !important; }

body #topNav ul > li > a,
body #categoryNav ul > li > a {
  color: #ecc8ec !important; }

/*Header row*/
header {
  display: flex;
  border-bottom: 2px solid #694489;
  padding: 0px;
  background: #fff !important; }
  header img {
    float: left;
    background-color: #694489; }
  header nav {
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    text-align: inherit; }
    header nav ul {
      display: flex;
      justify-content: center;
      flex-grow: 1 !important; }

#topNav {
  flex-grow: 1 !important; }

/*Nav links*/
#topNav ul li a {
  color: #5b5a68;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: bold; }

/*#footer {
  background-color: $black;
  color: $white;
  padding: 20px;
}
*/
/*form {
	background-color: $eggplant !important;
	color: $white !important;
  @extend %clearfix;
  padding: 16px;
  padding: 1rem;
	input {
		color: $limegreen !important;
		padding: 16px;
		&.button {
			@extend .sqs-block-button-element;
		}
	}
	.field-list > div.form-item {
		float: left;
		width: 50%;
	}
}
*/
