@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  box-sizing: border-box; }

/* Colors */
/* Typography */
q, blockquote {
  font-family: "Lora", serif; }

#canvas {
  padding: 0;
  margin: 0;
  max-width: none; }

#page {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

#header {
  background-color: #694489;
  padding: 20px !important; }

#footer {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 20px; }
