@import url("https://fonts.googleapis.com/css?family=Lora");
form::after {
  clear: both;
  content: '';
  display: table; }

* {
  box-sizing: border-box; }

#canvas {
  padding: 0 !important;
  max-width: 1400px !important;
  margin: 0 !important; }

h1 {
  color: #4AC948;
  font-family: "Effra Bold", sans;
  font-size: 48px;
  font-size: 3em;
  letter-spacing: 3px;
  letter-spacing: .06em;
  line-height: 1.25em;
  text-transform: uppercase; }

h2 {
  color: #694489;
  font-family: "Effra Light", sans;
  font-size: 22px;
  font-size: 1.375em;
  line-height: 1.33em; }

h3 {
  color: #4AC948;
  font-size: 18px;
  font-size: 1.125em;
  font-family: "Effra Bold", sans;
  letter-spacing: 3px;
  letter-spacing: .06em; }

p {
  color: #5B5A68;
  font-size: 18px;
  font-size: 1.125em;
  line-height: 1.25em;
  font-family: "Effra Light", sans;
  hyphens: none; }

q,
blockquote {
  font-family: 'Lora', serif;
  color: #694489;
  font-style: italic; }

a,
a:link {
  transition: all 0.5s ease;
  color: #4AC948;
  text-decoration: none;
  border-bottom: solid 1px #4AC948; }
  a:hover,
  a:link:hover {
    color: #90EE90;
    border-bottom-color: #90EE90; }

#block-yui_3_17_2_3_1505592228283_7204,
#block-yui_3_17_2_3_1505599786542_36045,
#block-yui_3_17_2_3_1505599786542_37125 {
  width: 30%;
  display: inline-block; }
  #block-yui_3_17_2_3_1505592228283_7204 + .sqs-block-spacer,
  #block-yui_3_17_2_3_1505599786542_36045 + .sqs-block-spacer,
  #block-yui_3_17_2_3_1505599786542_37125 + .sqs-block-spacer {
    display: none !important; }

#canvas {
  padding: 0;
  margin: 0;
  max-width: none; }

#page {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

.col.sqs-col-12.span-12 .sqs-block.html-block.sqs-block-html:first-child .sqs-block-content {
  padding: 30px; }

.col.sqs-col-12.span-12 .sqs-block.html-block.sqs-block-html:first-child .sqs-block-content h2 {
  color: #694489; }

.canvas-style-masthead-logo-left.header-subtitle-none #header,
.canvas-style-masthead-logo-right.header-subtitle-none #header {
  padding-top: 30px !important; }

#header {
  background: #694489;
  padding: 30px; }
  #header .logo a {
    color: #FFFFFF; }

body #topNav a {
  color: #FFFFFF !important; }

#footer {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 20px; }

form {
  background-color: #694489 !important;
  color: #FFFFFF !important;
  padding: 16px;
  padding: 1rem; }
  form input {
    color: #4AC948 !important;
    padding: 16px; }
    form input.button {
      transition: all 0.5s ease;
      border-width: 0 !important;
      color: #694489 !important;
      background-color: #90EE90 !important;
      font-family: "Effra", sans;
      font-weight: bold; }
      form input.button:hover, form input.button:focus {
        background-color: #4AC948 !important; }
  form .field-list > div.form-item {
    float: left;
    width: 50%; }
