* {
  box-sizing: border-box;
}

#canvas {
  padding: 0;
  margin: 0;
	max-width: none;
}

#page {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

// Typography
@import url('https://fonts.googleapis.com/css?family=Lora');

p {
  hyphens: none;
}
