* {
	box-sizing: border-box;
}

#canvas {
	padding: 0 !important;
	max-width: 1400px !important;
	margin: 0 !important;
	//sorry//
}

#block-yui_3_17_2_3_1505592228283_7204, #block-yui_3_17_2_3_1505599786542_36045, #block-yui_3_17_2_3_1505599786542_37125 {
	width: 30%;
	display: inline-block;

	+ .sqs-block-spacer {
		display: none !important;
	}
}
