// Colors
$limegreen: #32cd32;
$lightgreen: #98fb98;
$eggplant: #694489;
$lavendar: #fff0f5;
$darkgrey: #5b5a68;
$white: #fff;

// Typography 
@import url('https://fonts.googleapis.com/css?family=Lora');

q,
blockquote {
  font-family: 'Lora', serif;
}
