/* Colors */
$limegreen: #32CD32;
$lightgreen: #98FB98;
$eggplant: #694489;
$lavendar: #FFF0F5;
$darkgrey: #5B5A68;

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Lora');

q, blockquote {
	font-family: "Lora", serif;
}
